<style>
#bloc_page
{
    width: 100%;
    margin: auto;
}
H1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 24px;
	font-style: normal; 
	font-variant: normal;
	font-weight: bold;
	color : black;
	text-align : center;	 
}
h1.PageIndex
{
	margin-right : 20%;
    margin-left : 20%;
}
H3
{
	align : center;
	text-align : center;
	margin : 0% 20% 0% 20%;
	color : gray;
}
H3.errorDB, H3.errorFileUpload
{
	color : red;
}
H3 P
{
	align : center;
	text-align : center;
	margin : 0% 20% 0% 20%;
	color : gray;
}
H3.green
{
	align : center;
	text-align : center;
	margin : 0% 20% 0% 20%;
	color : green;
}
header
{
	margin : 2% 30% 0% 30%;
	align : center;
	-moz-border-radius : 8px;
    -webkit-border-radius:8px;
	border: 3px solid #ED7F10;
	text-align : center;
	color : #696969;
	border-radius: 10px 10px 10px 10px;
}
NAV
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	position : fixed;
    float: left;
    width: 20%;
    top : 13%;
    color : black;
    margin : 3% 0% 0% 0%;
    padding : 0% 0% 0% 0%;
    -moz-border-radius : 8px;
    -webkit-border-radius:8px;	
    border-radius: 10px 10px 10px 10px;
}
NAV.navRetrieve
{
	margin : 3% 10px 20px 10px;
}
NAV.navIndex
{
    margin : 3% 0% 0% 0%;  
}
NAV.navUpload
{
	margin : 3% 0% 0% 0%;
}
nav.navEdit
{
	margin-top : 3%;
}
nav.modif
{
	margin-top : 3%;
}
section
{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding : 0% 0% 30px 1%;
    margin : 1% 5% 10px 10%; 
}
input[type="text"].translatedLine {	
     background-color : white;
     width : 99%;    
}
input[type="text"].translatedLine2 {
     background-color : white;
     width : 99%;
}
input[type="text"].vide {	
     background-color : white;
     width : 99%;    
}
input[type=submit]
{
	display: block;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	align : center;
 	background-color: #ED7F10;
	border: 4px solid #ED7F10;	
	font-size: 16px;
	vertical-align : middle;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color : white;
    -moz-appearance: button;
}
input[type="submit"]:hover, input[type="file"]:hover
{
    font-size: 16px;
    font-weight : bold;
    text-decoration : underline;
    cursor:  pointer;
}
input[type=submit].btnIndex
{
	padding: 10px;
	margin : 0% 20% 0% 0%;
	width : 50%;
}
input[type=submit].btnExporter
{
	position: absolute;
    right: 18%;
    width : 50%;
    display: inline-block;
	vertical-align: top;
	text-align : center;
	text-decoration : none;
 	background-color: #ED7F10;
	border: 4px solid #ED7F10;
	font-size: 16px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color : white;
	width : 6%;
    -moz-appearance: button;
	margin-right:15%;
}
input[type=submit].btnNav
{
	margin : 5% 0% 0% 30%;
	width : 60%;
}
input[type=submit].btnUpload
{
	margin : 0% 20% 0% 35%;
	width : 20%;
}
input[type=submit].btnEdit
{
	display : block;
	margin : 0% 20% 0% 38%;
	width : 15%;
}
input[type=submit].gobutton
{
	align:center; 
	width: 27%; 
	margin-left : 15%; 
	margin-right : 40%;
	color : white;
}
input[type=submit].btnDownload
{
	margin : 0% 35% 0% 28%;
	font-size: 16px;
	width : 40%;
}
input[type=submit].inputButtonFixedRight
{
	position:fixed;
	right: 2%;
	width : 160px;
	height : 40px;
	font-size: 16px;
	margin-right : 0px;
	vertical-align : middle;
}
input.[type=file]
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	align : center;
	background-color: #7FFFD4;
	border: 4px solid #2CC248;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
input.[type=file].inputSubmitBtn
{
	padding: 10px;
	background-color: #7FFFD4;
	border: 4px solid #2CC248;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-right : 50%;
	margin-left : 5%;
	font-weight: bold;
	width : 30%;
}
article
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: justify;
    font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
article#IdModiFichier
{
	padding : 0% 30px 0% 30px;
    border: 1px solid #0568CD;	
    width : 20%;
    margin : 2% 2% 2% 30px;
}
article#articleIndex
{
	margin : 66px 0% 0% 40px;
    width : 90%;
}
H2 
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-align : center;
  	color: #696969;	
  	align : center; 
}
body, p, legend, label, input 
{
    font: Tahoma 8pt, verdana 8pt normal, helvetica, sans-serif;
    color : #696969;
}
fieldset
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	padding : 1% 2% 0% 2%;
    border: 3px solid #ED7F10;
    -moz-border-radius : 8px;
    -webkit-border-radius : 8px;	
    border-radius: 10px 10px 10px 10px;
}
fieldset.fieldsetIndex
{
	margin : 2.5% 20% 0% 23.6%;
	padding : 2% 2% 0% 2%;
	width : 60%;
}
fieldset.fieldsetEdit
{
	margin : 2% 20% 0% 15%;
	 width : 70%;
}
fieldset.fieldsetModifSubtitle    
{
	margin : 2% 20% 0% 15%;
	 width : 70%;
}
fieldset.fieldsetSubtitleDouble
{
	margin : 2% 20% 0% 15%;
	width : 70%;
}
fieldset.fieldsetUpload    
{
	margin : 3% 20% 0% 15%;
	 width : 70%;
}
fieldset.fieldsetDisplaySubtitle    
{
	margin : 3% 20% 0% 15%;
	width : 70%;
}
fieldset.fieldsetExport    
{
	margin : 4% 20% 0% 23.5%;
	width : 60%;
}
footer 
{
	align : center;
	text-align : center;
	margin : 4% 26% 0% 28%; 	
	width : 61%;
	align : center;
	border : 2px solid #ED7F10;
    -moz-border-radius : 8px;
    -webkit-border-radius : 8px;	
    border-radius : 8px;
}
P
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 16px;
	font-style: normal;
	color : black;	
	text-align : center;
	text-align: justify;
}
P.lisFichiers
{
	font-size : 24px;
	font-variant: normal;
	font-weight: 500;
	font-weight: bold;
	color : black;
}
P#idMessage
{
    margin : 2% 2% 2% 2%;
}
table,th,td
{
    border-collapse: collapse;
    border-spacing : 0%;
	border-padding : 0%;
	align : center;
	color : black;
}
table td
{
	spacing : 5%;
	height :auto;
	padding : 0%;
	width : 50%; 
}
table th
{	
	spacing : 5%;
	height :auto;
	padding : 0%;
	width : 100px;
	background-color : #ccc;
}
table#tabModif td
{
	margin : 0% 0% 0% 0%;
	width : 50%;
	background-color:#ccc;  
	border: 1px solid grey;
}
table#tabEdit
{
	border-spacing: 0px;
	margin : 0% 0% 2% 0%;
    width : 100%; 
	border: 1px solid grey;
}
table#tabEdit td
{
	width : 50%;
 	margin : 0% 0% 0% 0%;
	background-color : #ccc;
	border: 1px solid grey;
}
table#tabModif
{
	table-layout: fixed;
	margin : 0% 0% 2% 0%;
    width : 100%; 
}
table#tabModif td
{
	width : 50%;
	margin : 0% 0% 0% 0%;
	background-color : #ccc;	
	border : 1px solid grey;
}
table#tabModif td:hover
{
    background-color: white;
    border: 2px solid #696969 !important;	
    border-top: 2px solid #00BFFF;
    border-bottom: 2px solid #00BFFF;
}
table#tabRecord
{
	border-spacing: 0px;
    width : 100%; 
	margin : 0% 0% 2% 0%;
	border: 1px solid grey;		
}
table#tabRecord td
{
	width : 50%;
	margin : 0% 0% 0% 0%;
	background-color : #ccc;
	border : 1px solid grey;
}
table#tabRecord td:hover
{
    background-color: white;
    border: 2px solid #696969 !important; 
    border-top: 2px solid #00BFFF;
    border-bottom: 2px solid #00BFFF;
}
table#tabEdit td:hover
{
    background-color: white;
    border: 2px solid #696969 !important;	
    border-top: 2px solid #00BFFF;
    border-bottom: 2px solid #00BFFF;
}
DIV.btnEnligne P
{	
	vertical-align :middle;	
}
DIV.btnEnligne span
{	
	position : absolute;
	left : 45%;	
}
DIV.btnEnligne
{
	width : 98%;
}	
DIV#yourBtn
{
	border: 1px solid red;
	margin : 0% 30% 10% 1%;
}
DIV#listFichier
{
	
	width : 100%;
	height : 100%;
}
.succes 
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 18px;
	font-style: bold;
	align : center;
	text-align : center;
	color : #606060;	   
	margin : 0% 40% 0% 20%;
}
P.echec {
	text-align : center;
	color : #606060;    
	align : center;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
 	margin : 0% 40% 0% 23%;
	font-weight: bold;
}
a
{
	background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    color: black;
}
a:hover 
{
	cursor : pointer;
    background-color: transparent;
    text-decoration: underline;
    font-size: 18px;
    color: #DF6D14;
}
a:hover.displaySubtitle
{
	text-decoration : none;
	font-size : 20px;	
}
a.btnContinuer, a.hautDePage, a.btnExporter
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	display: inline-block;
	vertical-align: top;
	text-align : center;
	text-decoration : none;
 	background-color: #ED7F10;
	border: 4px solid #ED7F10;		
	font-size: 16px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color : white;
	width : 6%;
    -moz-appearance: button;
	margin-right:15%;
}
a.hautDePage
{
	position :fixed;
	bottom : 3%;
	left : 7%;
	width : 6%;
}
a.btnContinuer
{
	position: absolute;
    right: 23%;
}
a.btnExporter
{
	position: absolute;
    right: 15%;
}
a:hover.btnContinuer, a:focus.btnContinuer, a:active.btnContinuer
{
  	font-size: 16px;
    font-weight : bold;
    text-decoration : underline;
    cursor:  pointer;
}
input#gobutton
{
	border:1px solid #33842a;
	cursor:pointer;
	padding:5px 25px; 
	background:#00BFFF; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color:#f3f3f3;
	font-size:1.1em;
	align : center;
	margin-left : 33%;
}
input#gobutton:hover, input#gobutton:focus
{
background-color :#399630;
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}

</style>
