<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Subtitlor</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  <context-param>
    <param-name>MyAppHome</param-name>
    <param-value>H:\TEMP\TmpFiles</param-value>
  </context-param>
  <servlet>
    <servlet-name>EditSubtitle</servlet-name>
    <servlet-class>com.subtitlor.servlets.EditSubtitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubtitle</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.subtitlor.servlets.Upload</servlet-class>
    <multipart-config>
      <location>C:\TEMP\TmpFiles</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecordSubtitle</servlet-name>
    <servlet-class>com.subtitlor.servlets.RecordSubtitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordSubtitle</servlet-name>
    <url-pattern>/recordSubtitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifSubtitle</servlet-name>
    <servlet-class>com.subtitlor.servlets.ModifSubtitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifSubtitle</servlet-name>
    <url-pattern>/modifSubtitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExporterSubtitle</servlet-name>
    <servlet-class>com.subtitlor.servlets.ExporterSubtitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExporterSubtitle</servlet-name>
    <url-pattern>/exporter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExporterFile</servlet-name>
    <servlet-class>com.subtitlor.servlets.ExporterFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExporterFile</servlet-name>
    <url-pattern>/exporterFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierSubtitle</servlet-name>
    <servlet-class>com.subtitlor.servlets.ModifierSubtitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierSubtitle</servlet-name>
    <url-pattern>/modifierSubtitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveSubtitleFile</servlet-name>
    <servlet-class>com.subtitlor.servlets.RetrieveSubtitleFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveSubtitleFile</servlet-name>
    <url-pattern>/retrieveSubtitleFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplaySubtitleFile</servlet-name>
    <servlet-class>com.subtitlor.servlets.DisplaySubtitleFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySubtitleFile</servlet-name>
    <url-pattern>/displaySubtitleFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.subtitlor.servlets.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/downloadFileServlet</url-pattern>
  </servlet-mapping>
</web-app>
