body
{
	background-image: url("../img/bckg.jpg");
}

nav
{
	float: left;
	width: 13%;
	margin-right: 1%;
	height: 640px;    /* IB: allowed by the description of the task, check Mathieu's instruction */
	background-color: grey;
	border: 0px;
	vertical-align: top;
	text-align: justify;
	border-radius: 10px;			
}


header
{
	margin-left: 17%;
	border: 0px;
	vertical-align: top;	
}

h1
{
	font-family: "Comic Sans MS", "Trebuchet MS", "Verdana", "Times New Roman";
	font-size: 3.3em;
	text-align: center;
	color: maroon;
}


#summary
{
	font-family: "Trebuchet MS", "Verdana", "Times New Roman";
	font-size: 2.2em;
	text-align: center;
        font-weight: bold;
}


#photo
{
	float: right;
	width: 17%;
	vertical-align: top;
}

@font-face {
    font-family: 'LearningCurveProRegular';
    src: url('LearningCurve_OT-webfont.eot');
    src: url('LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('LearningCurve_OT-webfont.woff') format('woff'),
         url('LearningCurve_OT-webfont.ttf') format('truetype'),
         url('LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

h2
{
	font-family: 'LearningCurveProRegular', Arial, serif;
	font-size: 1.7em;
	color: #8D4004;
}


ul
{
	text-shadow: 2px 4px 4px grey;
}

.imgframe
{
	border-radius: 10px;
	border: 3px #ffa500 ridge;
}

/* IB: The estimation 100%-13%-1%(taken by left vertical nav and its margin) = 96% for overall space of 3 columns */
#wrap {
	width: 96%;
	margin: 0 auto;
	vertical-align: top;
}

/* IB: 96%/3=32%-6%(3%-margin for left and righ)=26% for each column */
#left_col {
	float:left;
	width:26%;
}

/* IB: Each column is alligned from left to */
#mid_col {
	float:left;
	width:26%;
}

#right_col {
	float:left;
	width:26%;
	
}
